{% extends "base.html" %}
{% block title %} Ajouter un GENRE{% endblock %}
{% block body %}
    <div class="home">
        <BODY>
            <form method="POST" action="">
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID genre</th>
                            <th>Nouveau nom Genre</th>
                        </tr>
                    </thead>
                        <tr>
                            <td></td>
                            <td><input type = "text" name= "gender_html"/></td>
                            <td><button class="btn btn-primary" type="submit">Ajouter</button></td>
                        </tr>
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}